@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .reg {
    background-image: url('src/Components/Assets/Logo-Gif/onlineshopy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
} */
.heart{
  direction: inline;
  flex-direction: column;
}
.group{
  text-align: center;

}
.buds{
  height: 40px;
  width: 120px;
  text-decoration: none;
  
}
.logo{
  display: flex;
  flex-direction:row;
  font-family: "Great Vibes", cursive;
  font-style: normal;
  font-size: 30px;
  margin-top: 10px;
  }
  .logo2{
  font-family: "";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: khaki;
  letter-spacing: 1px;
  }
  .buds1{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5px;
    margin-left: 8px;
    text-decoration: none;
    
  
  }
  .imagyfy{
    height: 400px;
    width: 100px;
  }
  .logout{
    text-decoration: none;
  }
  .logout:hover{ color: red;}
  .cardtext{ font-weight: bolder; font-size: 20px; font-family: 'Times New Roman', Times, serif;}
  .cartimage1{ height: 250px;width: 250px; object-fit: contain;}
  .homeicon{
    font-size: 20px;
    position:fixed}
   .nav1{text-decoration: none;}
   .nav1:hover{color: aliceblue;}
  .heading{font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-style: normal; font-size: 50px; text-shadow: 1px 2px red;}

    @keyframes linearMove {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    }
    
    .animate-linearMove {
      animation: linearMove 2s infinite ease-in-out;
    }
    .heading{font-weight: bolder;}
    

